html{
    visibility: hidden;
}
@font-face {
    font-family: DigitalDream;
    src: url("Fonts/DIGITALDREAM.ttf") /* TTF file for CSS3 browsers */
}
body{
    -webkit-app-region: drag;

    background: #2D2D30 ;
    color: white;
    padding:0px;
    margin: 0px;

    /*border: 1px solid #68217A;*/
    /*border-bottom: 24px solid #68217A;*/
    position: absolute;

    top: 0px;

    left: 0px;

    right: 0px;

    bottom: 0px;
}
h1{
    color: #880000;
}
/* Button styling (myButton class(es)) generated from http://www.bestcssbuttongenerator.com/*/
.myButton {
    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#2dabf9;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 3px #263666;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
.myButton:active {
    position:relative;
    top:1px;
}
.myButton:disabled:hover{
    cursor: not-allowed;
}
.blink{
    transition: color 200ms ease;
    color: transparent;
}
.settingstitlediv, .groupsettingsdescription{
    text-align: center;
}
#pomodorodatetimepicker, #shortbreakdatetimepicker, #longbreakdatetimepicker{
    margin: 0 auto;
}
#cylcesbeforelongpicker{
    margin: 0 auto;
}
.groupsettingsdescription{
    margin-bottom: 30px;
}
.disabled {
    color: #999;

}
#clock{
    width: 100px;
    height: 100px;
    color: white;
    background-color: red;
}
#clock span{
    width: 100px;
    height: 100px;
}

/*Stylize the container of elements on the main page*/
#contentContainer{
    -webkit-app-region: no-drag;
    text-align: center;
    margin-top:5%;
    margin-bottom:5%;






}

/*Stylize the clock*/
#clockDiv{
    font-family: DigitalDream;
    font-weight: bold;
    margin: 10px;
    font-size: 2em;
}
footer{
    /*margin-top: 40px;*/
    background-color:#68217A;
    padding: 5px;
    height: 30px;
    width: 596px;


    /*width: 100%;*/
}
#footerText{
    display: inline;
}
/*SETTINGS FOR TYPED.JS*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


