body{
    -webkit-app-region: drag;

    background: #2D2D30 ;
    color: white;
    padding:0px;
    margin: 0px;


    position: absolute;

    top: 0px;

    left: 0px;

    right: 0px;

    bottom: 0px;
    border: 2px solid #ADADAD;
}
#contentContainer{
    -webkit-app-region: no-drag;
    padding-top: 27px;


}
td{
    background: #2D2D30;
}
.sorting_1{
    background: #2D2D30 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}
span.ellipsis{
    color: white;
}
div#example_info.dataTables_info{
    color: white !important;
}
label{
    color: white;
}
#example_previous{
    color:white !important;
}