html{

}
body{
    -webkit-app-region: drag;

    background: #2D2D30 ;
    color: white;
    padding:0px;
    margin: 0px;

    /*border: 1px solid #68217A;*/
    /*border-bottom: 24px solid #68217A;*/
    /*position: absolute;*/

    top: 0px;

    left: 0px;

    right: 0px;

    bottom: 0px;

    text-align: center;



}

div.form-group.timewidget {
    border: 1px white solid;

}
div#cyclcehack.form-group{
    border: 1px white solid;
}
#contentContainer{
    margin-top: 40px;
}