#title-bar{
    -webkit-app-region: drag;
    height: 34px;


    color: #ADADAD;
    border-bottom: 2px solid;
    /*padding-bottom: 35px;*/

    background-color:  #2D2D30;


}
#title{
    position: fixed;
    top: 0px;
    left: 12px;
    line-height: 32px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.3em;
}
#title-bar-btns{
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}
#title-bar-btns button {

    height: 32px;

    width: 32px;

    background-color: transparent;

    border: none;

    color: #F1F1F1;

    font-size: 16px;

}
#title-bar-btns button:hover {

    background-color: #3F3F41;

}
a {

    color: #68217A;

}